div#wrapper
 div.container
  div#register.register
   form(method='post')
    h3= page
    div.column
     div
      label Email:
      input(name='email', type='text', placeholder='required').input-text
      - if (typeof(error) != 'undefined' && error === 'email')       
          span.error(style='visibility:visible') Invalid email address
      - else 
         br    
    div.bottom
     input#reminder(type='submit', value='Send reminder').button
     a#flogin(href='login')
      | Suddenly remebered? Sign In
     a#freg(href='register')
      | Don't have an account? Sign Up 
     