body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#wrapper {
  background-color: #fff;
  padding: 20px 0;
}
.container {
  width: 950px;
  margin: 0 auto;
}
#content {
  position: relative;
  width: 692px;
  float: right;
}
.element-box {
  float: left;
  width: 100%;
}
.register {
  background: #fff;
  border: 1px solid #ddd;
  margin: 60px auto 0 auto;
  width: 550px;
  font-size: 16px;
  -moz-box-shadow: 1px 1px 10px #ccc;
  -webkit-box-shadow: 1px 1px 10px #ccc;
  box-shadow: 1px 1px 10px #ccc;
}
.register h3 {
  padding: 20px 30px 20px 30px;
  color: #000;
  font-size: 25px;
  background-color: #eee;
  text-shadow: 0.1em 0.1em 0.2em #ccf;
}
.register form {
  background: #fff;
}
.register a {
  text-decoration: none;
  color: #777;
  font-size: 12px;
}
.register a:hover {
  color: #000;
}
.register label {
  padding: 10px 30px 0px 30px;
  margin: 10px 0px 0px 0px;
  color: #000;
  text-shadow: 0.05em 0.1em 0.2em #ccf;
}
.register input[type="text"],
.register input[type="password"] {
  margin: 5px 30px 0px 30px;
  padding: 9px;
  display: block;
  font-size: 16px;
  width: 76%;
}
.register .bottom {
  background-color: #eee;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  clear: both;
  color: #fff;
  height: 70px;
}
.register .bottom a {
  display: block;
  clear: both;
  padding: 0px 30px;
  text-align: right;
  color: #000;
}
.register .bottom a#flogin {
  display: block;
  clear: both;
  padding: 0px 30px;
  text-align: right;
  float: left;
  color: #000;
}
.register .bottom a#freg {
  display: block;
  clear: both;
  padding: 0px 30px;
  text-align: right;
  float: left;
  color: #000;
}
.register div.remember {
  float: left;
  width: 140px;
  margin: 20px 0px 20px 30px;
  font-size: 11px;
  color: #fff;
}
.remember span {
  color: #fff;
}
.register div.remember input {
  float: left;
  margin: 2px 5px 0px 0px;
}
.register span.error {
  visibility: hidden;
  color: #f00;
  font-size: 11px;
  font-style: italic;
  display: block;
  margin: 4px 30px;
}
.register .column {
  width: 47%;
  float: left;
}
.register input[type="submit"] {
  width: 100px;
  cursor: pointer;
  float: right;
  margin: 15px 99px -21px 0px;
}
.register input[type="submit"]#reminder {
  width: 120px;
  cursor: pointer;
  float: right;
  margin: 15px 19px -21px 0px;
}
.button,
.button:focus {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #ccf;
  box-shadow: inset 0px 1px 0px #ccf;
  text-shadow: 1px 1px 0px #fff;
  font-size: 12px;
  letter-spacing: 0.1px;
  font-weight: bold;
  padding: 6px 11px 6px 11px;
  cursor: pointer;
  color: #5c5c5c;
  border: 1px solid #b5b6b3;
}
.input-text {
  padding: 6px 6px;
  border: 1px solid #b5b6b3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #8a8a8a;
  font-size: 13px;
  -moz-box-shadow: inset 0 0 10px #e9e9e9;
  -webkit-box-shadow: inset 0 0 10px #e9e9e9;
  box-shadow: inset 0 0 10px #e9e9e9;
  box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.register a.forgot {
  float: right;
  line-height: 24px;
  color: #000;
  margin-right: 85px;
}
.forgot_password {
  width: 300px;
}
