script(type='text/javascript')
 $(function(){
  $('#foo2').carouFredSel({
   prev:'#prev2',
   next:'#next2',
   pagination:"#pager2",
   auto:false,
   items:{
    visible:5
   }
  });
 });
h1= title
p Welcome to #{title}
div.list_carousel
 ul#foo2
  li a
  li b
  li c
  li d
  li e
  li f
  li g
  li h
  li i
  li j
     
 div.clearFix
    
 a#prev2.prev(href='#') &lt;
 a#next2.next(href='#') &gt;
         
 div#pager2.pager
    