!!! 5
html(lang='en')
head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.carouFredSel-5.6.1.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
body!= body